//
//
// Color palette
//
// Styleguide Variables - Color pallete
//

$black:     #222;
$white:     #fff;

$red:       #d20a11;

$green:  #6ba928;
$yellow:    #fc0;

// Backgrounds
$yellowgreen: #9acd32;
$yellowgreen-mid: #c3cd55;
$yellowgreen-light: #e0ff5e;

$gray-light: #cfcfcf;
$gray-medium: #999;
$gray-dark: #4a4a4a;

$darkblue-lighter: #343b43;
$darkblue: #202930;
$darkblue-darker: #151c22;

$text-shadow-default: 1px 1px $gray-dark;

$border-radius-default: .5em;
$interactive-background: rgba(0, 0, 0, .1);

// Default link colors:
$link-color: $black;
$link-color-visited: lighten($link-color, 10%);
$link-color-hover: darken($link-color, 10%);


//
// Color palette
//
// .kss-colorblock is just a Helper to show Color-Variables
//
// Markup:
// <div class="kss-colorblock" style="background-color: {{modifier_class}}">{{modifier_class}}</div>
//
// #222222 - $black:   #222222
// #DEBF1F - $yellow:  #DEBF1F
// #53AA2A - $green:   #53AA2A
// #cfcfcf - $gray-light: #cfcfcf;
// #999999 - $gray-medium: #999999;
// #4a4a4a - $gray-dark: #4a4a4a;
//
// Styleguide Variables - Color pallete - Colors
//

//
// Background CSS classes
//
//
// Markup:
// <div class="kss-colorblock {{modifier_class}}">{{modifier_class}}</div>
//
// .bg-one - %bg-one .bg-one $yellowgreen-light
// .bg-two - %bg-two %bg-two $yellowgreen-mid
// .bg-three - %bg-three .bg-three $yellowgreen
//
// Styleguide Variables - Color pallete - Backgrounds
//

$bg-one: $gray-medium;
$bg-two: $yellowgreen-mid;
$bg-three: $yellowgreen;

$frontpage-bg-1: $bg-one;
$frontpage-bg-2: $bg-two;
$frontpage-bg-3: $bg-one;
$frontpage-bg-4: $bg-three;


%bg-one {
  background: $bg-one;
  color: $black;

  a {
    color: $black;
  }
}

%bg-two {
  background: $bg-two;
  color: $black;

  a {
    color: $black;
  }
}

%bg-three {
  background: $bg-three;
  color: $black;

  a {
    color: $black;
  }
}


