//
// Font Variants
//
// `src: variables/fonts.scss`
//
// Markup:
// <p class="base-font">Autem paulatim qui veniam vicis. Eligo elit esca letalis obruo pala plaga utrum. Aliquam brevitas gemino haero importunus mos utrum vulpes zelus. Ibidem minim sed. Ad bene hos odio oppeto. Blandit gilvus incassum nobis premo vindico. Duis letalis lobortis macto praesent. Adipiscing caecus esse praemitto.</p>
// <p class="base-font-monospace">Autem paulatim qui veniam vicis. Eligo elit esca letalis obruo pala plaga utrum. Aliquam brevitas gemino haero importunus mos utrum vulpes zelus. Ibidem minim sed. Ad bene hos odio oppeto. Blandit gilvus incassum nobis premo vindico. Duis letalis lobortis macto praesent. Adipiscing caecus esse praemitto.</p>
//
// Styleguide 1.2
//
$base-font: Verdana, 'Lucida Sans Unicode', sans-serif;
$base-font-monospace: Menlo, 'Ubuntu Mono', 'Lucida Console', 'Courier New', Courier, monospace;

.base-font,
%base-font {
  font-family: $base-font;
}

.base-font-monospace,
%base-font-monospace {
  font-family: $base-font-monospace;
}
