# Exclude OSX stuff
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Theme specific

# Exclude node modules from git
# See: https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git

# Exclude node and bower files.
node_modules
bower_components

# Exclude generated CSS Files.
css/*.css
css/*.css.map

# Minifyed js files
js/js/*.min.js

# Exclude generated styleguide Files.
styleguide/*
!styleguide/.gitkeep

# Exclude generated Readme.html
Readme.html
