//
// Media Elements
//
// Markup:
// <img src="/themes/guru/logo.svg" />
//
// Styleguide Base - Media
//

img,
video {
  height: auto;
  max-width: 100%;
  width: 100%;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
