//
// Typography
//
// `src: base/_typography.scss`
//
// Markup:
// <h1>CSS Basic Elements</h1>
//
// <p>The purpose of this HTML is to help determine what default settings are with CSS and to make sure that all possible HTML Elements are included in this HTML so as to not miss any possible Elements when designing a site.</p>
// <hr />
// <h1 id="headings">Headings</h1>
//
// <h1 class="no-kss-style">Heading 1</h1>
// <h2 class="no-kss-style">Heading 2</h2>
// <h3 class="no-kss-style">Heading 3</h3>
// <h4 class="no-kss-style">Heading 4</h4>
// <h5 class="no-kss-style">Heading 5</h5>
// <h6 class="no-kss-style">Heading 6</h6>
// <hr />
//
// <h1 id="paragraph">Paragraph</h1>
//
// <h1 class="no-kss-style">Heading 1</h1>
// <p class="no-kss-style">Lorem ipsum dolor sit amet, <a href="#" title="test link">test link</a> adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.</p>
// <h2 class="no-kss-style">Heading 2</h2>
// <p class="no-kss-style">Lorem ipsum dolor sit amet, <em>emphasis</em> consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.</p>
// <h3 class="no-kss-style">Heading 3</h3>
// <p class="no-kss-style">Lorem ipsum dolor sit amet, <a href="#" title="test link">test link</a> adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.</p>
// <h4 class="no-kss-style">Heading 4</h4>
// <p class="no-kss-style">Lorem ipsum dolor sit amet, <a href="#" title="test link">test link</a> adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.</p>
// <h5 class="no-kss-style">Heading 5</h5>
// <p class="no-kss-style">Lorem ipsum dolor sit amet, <a href="#" title="test link">test link</a> adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.</p>
// <h6 class="no-kss-style">Heading 6</h6>
// <p class="no-kss-style">Lorem ipsum dolor sit amet, <a href="#" title="test link">test link</a> adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.</p>
//
// <hr />
//
// <h1 id="list_types">List Types</h1>
//
// <h3>Definition List</h3>
// <dl class="no-kss-style">
//   <dt class="no-kss-style">Definition List Title</dt>
//   <dd>This is a definition list division.</dd>
// </dl>
//
// <h3>Ordered List</h3>
// <ol class="no-kss-style">
// <li class="no-kss-style">List Item 1</li>
// <li class="no-kss-style">List Item 2</li>
// <li class="no-kss-style">List Item 3</li>
// </ol>
//
// <h3>Unordered List</h3>
// <ul class="no-kss-style">
//   <li class="no-kss-style">List Item 1</li>
//   <li class="no-kss-style">List Item 2</li>
//   <li class="no-kss-style">List Item 3</li>
// </ul>
//
// <hr />
//
// <h1 id="tables">Tables</h1>
//
// <table class="no-kss-style">
// <tr class="no-kss-style">
//   <th class="no-kss-style">Table Header 1</th>
//   <th class="no-kss-style">Table Header 2</th>
//   <th class="no-kss-style">Table Header 3</th>
// </tr>
// <tr class="no-kss-style">
//   <td class="no-kss-style">Division 1</td>
//   <td class="no-kss-style">Division 2</td>
//   <td class="no-kss-style">Division 3</td>
// </tr>
// <tr class="even no-kss-style">
// <td class="no-kss-style">Division 1</td>
// <td class="no-kss-style">Division 2</td>
// <td class="no-kss-style">Division 3</td>
// </tr>
// <tr class="no-kss-style">
//   <td class="no-kss-style">Division 1</td>
//   <td class="no-kss-style">Division 2</td>
//   <td class="no-kss-style">Division 3</td>
// </tr>
// </table>
//
// <hr />
//
// <h1 id="misc">Misc Stuff - abbr, acronym, pre, code, sub, sup, etc.</h1>
//
// <p class="no-kss-style">Lorem <class="no-kss-style"sup>superscript</sup> dolor <sub class="no-kss-style">subscript</sub> amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. <cite class="no-kss-style">cite</cite>. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. <acronym class="no-kss-style" title="National Basketball Association">NBA</acronym> Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.  <abbr class="no-kss-style" title="Avenue">AVE</abbr></p>
//
// <pre class="no-kss-style"><p class="no-kss-style">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. <acronym class="no-kss-style"title="National Basketball Association">NBA</acronym> Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.  <abbr class="no-kss-style" title="Avenue">AVE</abbr></p></pre>
//
// <blockquote class="no-kss-style">
// "This stylesheet is going to help so freaking much." <br />-Blockquote
// </blockquote>
//
// Styleguide 3.1
//


// See expanation in styleguide in variables/_vertical_rhythm.scss
// Or here: https://css-tricks.com/rems-ems/
html {
  font-size: $font-size-global--default;

  @media ($font-size-global--tab-media) {
    font-size: $font-size-global--tab-font;
  }

  @media ($font-size-global--mobile-media) {
    font-size: $font-size-global--mobile-font;
  }
}


body {
  font-family: $base-font;
  // Globally scaling fonts depending on responsive font size in html.
  // See: https://css-tricks.com/rems-ems/
  // Using em units later on enables different base font sizes by component,
  // But keeping everything in space.
  font-size: 1rem;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin-bottom: .5em;
  margin-top: 1em;
}

h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 1.8em;
  margin-bottom: .75em;
}

h3 {
  font-size: 1.5em;
  margin-bottom: .75em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: .9em;
  font-weight: bold;
}

p {
  margin-bottom: .5em;
}

abbr,
acronym {
  font-style: italic;
}

strong {
  font-weight: bold;
}

pre,
code {
  font-family: $base-font-monospace;
  font-size: .8 * $base-font-size;
}

pre {
  overflow: scroll;
  white-space: pre;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}
