//
// Global Page Layout
//
// .layout-container is the width Limit. See $global-max-width in Variables.
//
// Set debugging to true in order to show background grids in main.scss to:
// `@include sgs-change('debug', true);`
// After sgs-change you can use singularity's `@include background-grid();
//
// Check out abstractions/_views-layouts.scss in order to get more Grid examples and see https://github.com/at-import/Singularity for a introduction.
//
// Styleguide Layouts - Page
//

html,
body {
  height: 100%;
}


.layout-container {
  @include clearfix();

  display: block;
  // Global max-width.
  margin: auto;
  max-width: $global-max-width;

  // Global mobile First Margin.
  padding-left: $global-page-pad;
  padding-right: $global-page-pad;
}

body > footer {
  clear: both;
}


.layout-container > header,
.layout-container > div,
.layout-container > main {

  @include background-grid();

  @include add-grid(12);
  @include add-gutter(1 / 3);
}

// Example Layout for startpage.
// See: abstractions/layouts/_views-layouts.scss
.view-frontpage {
  @extend %view-quadro;
}
